{% set navList = {
  {
    'nameLink': 'Home',
    'namePage': 'home',
    'navClass': 'nav',
    'linkUrl': 'index.html',
    'listClass': 'nav__list',
    'itemClass': 'nav__item',
    'linkClass': 'nav__link'
  },
} %}